.precision-performance {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

.animation {
  min-height: 300px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.precision-performance > .chart {
  background: #fff;
  padding: 40px 0;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.precision-performance > .chart > div {
  padding: 20px 10px;
  width: 50%;
}

.precision-performance > .chart > div > h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1em;
}

.precision-performance > .animation > div {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: hotpink;
  border-radius: 16px;
}

.precision-performance .ghost {
  pointer-events: none;
  transition: transform 150ms linear;
}
